body { background: #a22e63; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 41px; display: flex; }
.block-email-0 { color: #46b756; font-size: 15px; margin-bottom: 5px; }
.block-payment-1 { color: #959511; font-size: 16px; margin-bottom: 5px; }
.block-filter-2 { color: #88ab91; font-size: 17px; margin-bottom: 5px; }
.block-search-3 { color: #ae65ae; font-size: 20px; margin-bottom: 5px; }
.block-cache-4 { color: #14cf42; font-size: 17px; margin-bottom: 5px; }
.block-uploader-5 { color: #823741; font-size: 16px; margin-bottom: 5px; }
.block-metrics-6 { color: #4134c7; font-size: 20px; margin-bottom: 5px; }
.block-helper-7 { color: #dddc8c; font-size: 13px; margin-bottom: 5px; }